
body{
  overflow-x:hidden;
  overflow-y:hidden;
  background-color: ("SpaceBG.gif");
}
#medidorPlaneta{
  border:2px solid #000;
  width:300px;
  height:20px;
  background-color:#fff;
}
#barraPlaneta{
  border:2px solid #000;
  width:300px;
  height:20px;
  background-color:#66f;
}
.navJog{
  width:1024px;
  height:576px;
  background-image:URL("nave.gif");
  position:absolute;
}
.bomba{
  width:1024px;
  height:576px;
  background-image:URL("bomba.gif");
  position:absolute;
}
.tiroJogador{
  width:6px;
  height:6px;
  background-color:#000;
  border-radius:10px;
  position:absolute;
}
.explosaoChao{
  width:2000px;
  height:2000px;
  position:absolute;
}
.explosaoAr{
  width:300px;
  height:300px;
  position:absolute;
}
.temaMsg{
  position:absolute;
  margin-left:-25%;
  top:50px;
  left:50px;
  width:720px;
  height:621px;
  display: none;
}
